  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero .lead {
    font-weight: 200;
    font-size: 1.5rem;
  }

  .configurations {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
